BACKEND_URL=http://localhost:3000

MERCHANT_EMAIL=marchand-a@example.com
MERCHANT_PASSWORD=Pass1234!
MERCHANT_COMPANY_NAME=Marchand A
MERCHANT_BILLING_ADDRESS=12 rue Exemple, Paris
MERCHANT_CONTACT_NAME=Jean Dupont
MERCHANT_CONTACT_PHONE=0600000000


# crée une nouvelle simulation qui vas crée un 
#    entrepot avec son nombre de camion défini    
#    mais aléatoire a la création la simulation   
#    devra gérer les camion on vas partir sur le  
#    principe qu un entre pot a tout les produits 
#    la simulation est sensé gerer les camion il  
#    devra intérogé l api delivery-plan/ generate 
#    toute les minute les camion devront changer  
#    de statu si ce n est pas gérer il faudra     
#    attendre un temps en minute qui vaudra le    
#    temps en jour c est une simulation quand une 
#    livraison est livré il faudra changé tout    
#    les status si ce n est pas gérer regarde les 
#    api du backend met a jour la commande        
#    conserné si elle est choisi dans             
#    delivery-plan met la inprogress fais une     
#    retrospective du code backend ensuite code